@import "bootstrap";
@import "nav.scss";
@import "form.scss";

.container {
  min-height: calc(100vh - 70px);
}

footer {
  color: white;
  text-align: center;
  height: 6rem;
  margin-top: 1.5rem;
  a {
    text-decoration: none;
    color: white;
  &:hover {
    color: #2dcc77;
  }
  }
  p {
    margin-top: 0.5rem;
    margin-bottom: 0;
  }
}

@media screen and (max-width: 480px) {
  footer {
    p {
      font-size: 1rem;
    }
  }
}


.btn-success {
  background-color: #2dcc77;
  border-color: #2dcc77;
}

.alert {
  margin-top: 1rem;
  p {
    margin-bottom: 0;
  }
  text-align: center;
}
.alert-success {
  background-color: #2dcc77;
  border-color: #2dcc77;
  color: white;
}

.page-title {
  text-align: center;
  margin-top: 1.75rem;
  margin-bottom: 2.5rem;
}

.pagination {
  .kaminari {
    margin: 2rem auto 0 auto;
    li {
      a {
        border: none;
        color: #696969;
        border-radius: 30px;
        &:hover {
          background-color: #a7f797;
        }
      }
    }
    .page-link {
        border-radius: 50px;
    }
    .active {
      a {
        background-color: #2dcc77;
      }
    }
  }
}
