@import "bootstrap";
@import "nav.scss";

body {
  background-color: #383A3F;
}

.container {
  background-color:white ;
  min-height: calc(100vh - 70px);
}

footer {
  color: white;
  text-align: center;
  height: 5rem;
  a {
    text-decoration: none;
    color: white;
  }
  p {
    margin-bottom: 0;
  }
}
