.form {
  margin: 0 auto;
  width: 70%;

  .form-group {
    margin-bottom: 1rem;
    label {
      font-size: 1.25rem;
      margin-bottom: 0.25rem;
    }
  }

  .btn-register {
    text-align: center;
    margin-top: 2rem;
    p {
      margin-bottom: 0;
    }
    .btn {
      width: 12rem;
      height: 3rem;
      font-size: 1.25rem;
    }
  }
}
