.links {
  margin: 0 auto;
  width: 70%;
  text-align: center;
  margin-top: 3rem;
  .link-wrapper {
    margin-top: 1rem;
    a {
      color: black;
      &:hover {
        color: #2dcc77;
      }
    }
  }
}
