header {
  background-color: black;
  height: 5rem;
  .header-wrapper {
    display: flex;
    justify-content:space-between;
    padding-top: 1.25rem;
    .app-name {
      color: white;
      text-decoration: none;
      font-size: 1.75rem;
      padding-left: 3rem;
    }
    .header-right {
      .first-btn {
        margin-right: 1.5rem;
      }
      .last-btn {
        margin-right: 4rem;
      }
    }
  }
}

@media screen and (max-width: 600px) {
  header {
    height: 5rem;
    .header-wrapper {
      display: flex;
      justify-content:space-around;
      padding-top: 1.25rem;
      .app-name {
        color: white;
        text-decoration: none;
        font-size: 1.5rem;
        padding-left: 0;
      }
      .header-right {
        .mobile-btn {
          font-size: 0.75rem;
          padding: 7px 10px;
        }
        .last-btn {
          margin-right: 0;
        }
      }
    }
  }
}
