h2 {
  text-align: center;
  margin-top: 0.75rem;
  margin-bottom: 2.5rem;
}

.form {
  margin: 0 auto;
  width: 70%;
}

.form-group {
  margin-bottom: 1rem;
  label {
    font-size: 1.25rem;
  }
}

.btn-register {
  text-align: center;
  p {
    margin-bottom: 0;
  }
  .btn {
    width: 12rem;
    height: 3rem;
    font-size: 1.25rem;
  }
}
