h1 {
  text-align: center;
  margin-top: 1.75rem;
  margin-bottom: 1.75rem;
}

h2 {
  margin-top: 2rem;
  margin-bottom: 1rem;
  border-bottom: 1px solid #ddd;
  padding-bottom: 0.5rem;
}

.doc-h2 {
  font-size: 2rem !important;
  text-align: left !important;
}

.doc-list {
  font-size: 1.25rem ;
}
a {
  color: #212529;
  &:hover {
    color: #2dcc77;
  }
}
