.top {
  display: flex;
  margin-top: 5rem;
  .concept {
    text-align: center;
    padding-top: 3rem;
  }
  p {
    margin-bottom: 0;
    font-size: 2rem;
    text-align: left;
  }
}

p {
  margin-bottom: 0.5rem;
  font-size: 1.25rem;
}

.important-btn {
  margin-top: 1.5rem;
  padding: 0.75rem 0.75rem;
  font-size: 1.25rem;
}

h2 {
  margin-top: 2rem;
  margin-bottom: 1rem;
  border-bottom: 1px solid #ddd;
  padding-bottom: 0.5rem;
}

.last {
  margin-bottom: 0;
}

.question {
  font-size: 1.5rem;
  width: 100%;
  text-align: left;
  padding: 0;
  border: none;
  border-radius: 0;
  line-height: 3rem;
}

.color:hover {
  background-color: #2dcc77;
}

.icon {
  line-height: 3rem;
  padding-top: 0.25rem;
  font-size: 3rem;
}

.tenhou-image {
  width: 100%;
  margin-top: 2rem;
}

.feature-image {
  width: 100%;
}

.term-image {
  padding-top: 2rem;
  width: 100%;
}

.log-image {
  width: 100%;
}

.feature {
  padding-top: 3.5rem;
}

.log-row {
  margin-top: 2rem;
  .log-feature {
    padding-top: 1rem;
  }
}

@media screen and (max-width: 992px) {
  .top {
    .concept {
      padding-top: 0;
    }
  }
}
