.notice {
  margin-top: 3rem;
  font-size: 1.5rem;
  text-align: center;
}

.team-btns {
  // margin:0 auto;
  // text-align: center;
  // margin-top: 3rem;
  // .btn {
  //   padding: 1rem 7rem;
  //   font-size: 1.5rem;
  //   margin-top: 2rem;
  //   margin-right: 2rem;
  // }
  margin:0 auto;
  text-align: center;
  margin-top: 3rem;
  .btn {
    padding: 1rem 0;
    width: 45%;
    font-size: 1.5rem;
    margin-right: 1rem;
    margin-top: 1rem;
  }
}

.term {
  height: 2rem;
  margin-bottom: 2rem;
  p {
    line-height: 2rem;
  }

  .first {
    margin-right: 0.5rem;
  }

  input {
    margin-right: 0.25rem;
    margin-left: 0.25rem;
  }
}

#table {
  margin-top: 3rem;
}

.user-name {
  width: 9rem;
}


