h2 {
  margin-top: 1.7rem;
  margin-bottom: 0;
}

.score {
  display: flex;
  font-size: 1.75rem;
  p {
    margin-right: 1rem;
  }
}

.card-text {
  padding-top: 0.5rem;
}

p {
  margin-bottom: 0;
}

.vue-term {
  margin-top: 1rem;
  .data {
    margin-top: 0.75rem;
    margin-bottom: 1.25rem;
  }
}
